*{
    font-family: "Roboto", sans-serif;
}
body{
    overflow-y: hidden;
}
h1{
    position: relative;
    z-index: 500;
}

#MainMap{
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.map-controls-div{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: fit-content;
    min-width: 10vw;
}

.map-controls{
    width: fit-content;
    min-width: 8vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: content-box;
    gap: 10px;
}
.map-control-btn{
    background: none;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    border: none;
    font-size: 2.5vmin;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in;
}
.map-control-btn.active{
    background-color: #303030;
}
.filter-title{
    color: white;
    font-size: 4vmin;
}
.filters-content hr {
    width: 100%;
    border: 1px solid white;
}
 
.filters-options-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: flex-start;
}
.filters-content{
    position: relative;
    border-radius: 5px;
    width: fit-content;
    right: 10px;
    min-width: 28vw;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    background-color: #303030;
    color: white;
    height: fit-content;
    min-height: 25vh;
    margin-top: 20px;
    transition: 0.50s ease-in;
    opacity: 0%;
    box-sizing: border-box;
    gap: 10px;
    padding: 20px;
}
.filters-content input{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.filters-content.active{
    opacity: 100%;
    right: 0px;
}

.hover-info-div{
    position: absolute;
    width: clamp(20vw, 25vw, 30vw);
    height: 500px;
    top: 200px;
    left: 500px;
    background-color: red;
}

.hover-info-box{
    position: absolute;
    background-color: rgba(48, 48, 48, 0.8);
    color: white;
    padding: 10px;
    bottom: 10px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
}